body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background: rgb(121,20,20);
    background: linear-gradient(159deg, rgba(121,20,20,1) 0%, rgba(255,0,0,1) 100%);
    }

.header {
    font-size: 56px;        
    font-weight: 900;
    color: antiquewhite;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

h3,
.message-container {
    color: bisque;
}

.btn {
    padding: 8px 12px;
    background-color: darkred;
    color: white;
    border: white 1px solid;
    font-weight: bold;
}

.btn:hover {
    cursor: pointer;
}

.button-container{
    display: flex;
    gap: 20px;
}

.btn-reset{
    background-color: dodgerblue;
    border-radius: 15px;

}

.score-container{
    display: flex;
    gap: 25px;
}

.score-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: antiquewhite;
}